html, body, .container {
  min-height: 100% !important;
  height: 100%;
}

.container {
  font-family: inter;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position:relative;
}

.months {
  display:grid;
  grid-template-columns: repeat(12, 5rem);
  border: solid 1px #EBEDEE;
}

.month {
  display:flex;
  flex-direction: column;
  height: 110px;
  position:relative;
}

.months .ui-selecting::after, .months .ui-selected::after {
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:3px;
  background-color:#0D97D5;
} 

.messages {
  font-size:12px;
  position:absolute;
  bottom:-2rem;
  left:50%;
  transform: translateX(-50%);
}

.month + .month {
  border-left: solid 1px #EBEDEE;
}

.month__header {
  padding: .5rem;
  color: #0D97D5;
  font-size: 12px;
  font-weight:500;
  border-bottom: solid 1px #EBEDEE;
}

.month__content {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  padding:0.5rem;
  font-size:12px;
  height: 100%;
  position:relative;
}

.month__overlay {
  content:"";
  position:absolute;
  bottom:0;
  left: 0;
  right:0;
  height:0;
  background-color: #E0F1EB;
  z-index: -1;
}